
*.opendb
*.db
Question2/.vs/Question2/v15/.suo
*.ipch
*.tlog
*.pdb
*.idb
*.obj
*.exe
*.vcxproj
*.filters
*.sln
*.user
*.ilk
Question2/Question2/Debug/Question2.Build.CppClean.log
Question2/Question2/Debug/Question2.log
Question2/Question2/Debug/Question2.log
